<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bytedance.dao.UserDao">
    <insert id="insert">
        INSERT INTO `user`(username, password) values(#{username},  #{password})
    </insert>

    <update id="update">
        update `user`
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        DELETE from `user` where id = #{id}
    </delete>

    <select id="findAll" resultType="com.bytedance.entity.User">
        SELECT * FROM user
    </select>

    <select id="getById" resultType="com.bytedance.entity.User">
        SELECT * FROM user where id = #{id}
    </select>

    <select id="getByUser" resultType="com.bytedance.entity.User">
        SELECT * FROM user where username = #{username} and password = #{password}
    </select>

</mapper>